/* 
Project Name: George Sydney Selwyn-Brace Portfolio
Author: George Sydney Selwyn-Brace
*/

/* COLOURS: Black #1a1a1a, Mid Grey #ccc, Dark Grey #777, Green #666 */

/* SMALLER SCREEN/DEFAULT */


*{
	box-sizing: border-box;
}
html{
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	color: #333333;
	fill: #333333;
}
body{
	width: 100%;
	height: 100vh;
	padding-top: 100px;
	position: fixed;
}
img, svg{
	width:100%;
}

a{
	text-decoration: none;
	color: inherit;
	transition: 0.3s ease;
}

p a{
	border-bottom: solid 1px #ccc;
	/*ee6754*/
}

p{
	font-family: 'Libre Baskerville', serif;
	font-size: 0.9rem;
	font-weight: 300;
	line-height: 145%;

}


h1{
	font-family: 'Libre Baskerville', serif;
	font-size: 2rem;
	font-weight: 300;
}
h2{
	font-family: 'Libre Baskerville', serif;
	font-size: 0.7rem;
	line-height: 145%;
	margin:0;
	font-weight: 500;
	color: #333;
}

.chloe-yellow{
	fill: #D6CD21;
	color: #D6CD21;
}
.chloe-grey{
	fill: #333;
	color: #333;
}

#splash{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 180;
	background-color: #fff;
}
.splash-graphics{
	width: 65vw;
	position: absolute;
	transition: 0.3s ease;
	transform: translate(-50%,-50%);
	top: 48%;
	left: 50%;
}
.dot{
	opacity: 0;
	transition: 1s ease;
	transform: translate(-50%, -60%);
}
.animated-dot{
	opacity: 1;
	transform: translate(-50%, -50%);
}
.hide-name{
	opacity: 0;
	transition: 1.4s ease;
}
.animated-name{
	opacity: 1;
}

.cw-name{
	position: fixed;
	top: 40px;
	left: 51%;
	width: 180px;
	z-index: 150;
	transform: translate(-50%, 0);

}
.burger-box{
	position: fixed;
	top: 52px;
	right: 40px;
	width: 17px;
	z-index: 160;
	transform: translate(50%,-50%);
	transition: width 0.1s linear;
}
.burger-box:hover{
	width: 20px;
}
.vegan-burger{
	transition: fill 0.5s linear;
}
#menu{
	display: none;
	position: fixed;
	text-align: center;
	width: 100%;
	top: 40px;
	padding: 0;
	margin: 0;
	z-index: 145;
}
#menu ul{
	margin: 0;
	padding: 0;
	width: 100%;
	padding: 0 65px;
	/*border: solid 1px red;*/
	position: absolute;
}
.menu-item{
	font-size: 0.9rem;
	line-height: 1.7rem;
	list-style: none;
	letter-spacing: 0.05em;
	display: inline-block;
	margin: 0 5px;
}

.slideshow{
	position: relative;
	z-index: 10;
	/*transform: translate(-20vw, 0);*/
}
.trigger{
	position: absolute;
	width: 50%;
	height: 100%;
	bottom: 0;
	z-index: 150;
}
.next{
	left: 50%;
	cursor: url(../images/cursor-next.svg) 32 12, e-resize;
}
.previous{
	left: 0;
	cursor: url(../images/cursor-previous.svg) 0 12, w-resize;
}
.image-canvas{
	width: 100%;
	height: calc(100vh - 180px);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}


#caption{
	display: block;
	position: absolute;
	text-align: center;
	bottom: 30px;
	right: 0;
	width: 100%;
	padding: 0 40px;
	z-index: 140;
}





/*LARGE SCREEN*/

@media screen and (min-width: 720px){

	.cw-name{
		/*width: 220px;*/

	}
	.menu-item{
		font-size: 1rem;
	}
	.burger-box{
		width: 20px;
	}
	.burger-box:hover{
		width: 23px;
	}

	h2{
		font-size: 0.8rem;
	}

}


/* Clearfix */

.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}



