/* 
Project Name: Chloe Winstanley Portfolio
Author: George Sydney Selwyn-Brace
*/


/* SMALLER SCREEN/DEFAULT */


*{
	box-sizing: border-box;
	text-shadow: 1px 1px 1px rgba(0,0,0,.004);
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
    -webkit-tap-highlight-color: transparent;
}
html{
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	color: #333333;
	fill: #333333;
}
body{
	width: 100%;
	/*height: 100vh;*/
	padding-top: 100px;
	/*position: fixed;*/
	background-color: #f5f5f5;

}
img, svg{
	width:100%;
}

a{
	text-decoration: none;
	color: inherit;
	transition: 0.3s ease;
}

p a{
	border-bottom: solid 1px #d8caa5;
	/*ee6754*/
}

p{
	font-family: 'Libre Baskerville', serif;
	font-size: 0.9rem;
	font-weight: 300;
	line-height: 170%;
	font-style: normal;
	margin: 10px 0;
}
i{
	font-style: italic;
}


h1{
	font-family: 'Libre Baskerville', serif;
	font-size: 2rem;
	font-weight: 400;
}
h2{
	font-family: 'Libre Baskerville', serif;
	font-size: 0.7rem;
	line-height: 145%;
	margin:0;
	font-weight: 400;
	color: #333;
}
h3{
	font-family: 'Libre Baskerville', serif;
	font-size: 1.35rem;
	font-weight: 400;
	/*font-style: italic;*/
	color: #333;
	margin: 40px 0 0;
}

.chloe-accent{
	fill: #d8caa5;
	color: #d8caa5;
}
.chloe-grey{
	fill: #333;
	color: #333;
}

#splash{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 180;
	background-color: #f5f5f5;
/*	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;*/
}
.splash-graphics{
	width: 75vw;
	position: absolute;
	transition: 0.3s ease;
	transform: translate(-50%,-50%);
	top: 48%;
	left: 50%;
}
.dot{
	opacity: 0;
	transition: 1s ease;
	transform: translate(-50%, -60%);
}
.animated-dot{
	opacity: 1;
	transform: translate(-50%, -50%);
}
.hide-name{
	opacity: 0;
	width: 74.5vw;
	transition: 1.4s ease;
}
.animated-name{
	opacity: 1;
	width: 75vw;
}
.menu-active{
	background-color: #fff;
}

header{
	position: fixed;
	top: 0;
	height: 100px;
	width: 100%;
	background-color: #f5f5f5;
	transition: 1.4s ease;

}
.cw-name{
	position: fixed;
	top: 40px;
	left: 50%;
	width: 180px;
	z-index: 150;
	transform: translate(-50%, 0);

}
.burger-box{
	position: fixed;
	top: 52px;
	right: 40px;
	width: 20px;
	height: 20px;
	z-index: 160;
	transform: translate(50%,-50%);
}
.vegan-burger{
	transition: fill 0.5s linear;
	width: 5px;
}
#menu{
	position: relative;
	text-align: center;
	width: 100%;
	height: 100px;
	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	top: 0;
	padding: 0;
	margin: 0;
	z-index: 145;
}
#menu ul{
	margin: 0;
	padding: 0;
	width: 100%;
	padding: 0 65px;
	position: absolute;
}
#menu-wrap{
	display: none;
}
.menu-item{
	font-size: 0.9rem;
	line-height: 1.7rem;
	list-style: none;
	letter-spacing: 0.05em;
	display: inline-block;
	margin: 0 5px;
}

.slideshow{
	position: relative;
	z-index: 10;
	width: 100%;
	height: calc(100vh - 100px);
}
.trigger{
	position: absolute;
	width: 50%;
	height: 100%;
	bottom: 0;
	z-index: 150;
}
.next{
	left: 50%;
	cursor: url(../images/cursor-next.svg) 32 12, e-resize;
}
.previous{
	left: 0;
	cursor: url(../images/cursor-previous.svg) 0 12, w-resize;
}
.image-canvas{
	width: 100%;
	height: calc(100vh - 180px);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
#caption{
	display: block;
	position: absolute;
	text-align: center;
	bottom: 30px;
	right: 0;
	width: 100%;
	padding: 0 40px;
	z-index: 140;
}
.text-block{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding:0 40px;
	margin-bottom: 80px;
}
.insta-icon{
	border: none;
}
.insta-icon svg{
	margin: 20px 0 0;
	width: 25px;
}

.hide-at-small-screen{
	display: none;
}





/*LARGE SCREEN*/

@media screen and (min-width: 720px){

	.splash-graphics{
		width: 45vw;
	}
	.hide-name{
		width: 44.5vw;
	}
	.animated-name{
		width: 45vw;
	}
	.cw-name{
		width: 220px;

	}
	.menu-item{
		font-size: 1.1rem;
	}
	.burger-box{
		width: 5px;
	}
	.vegan-burger:hover{
		fill: #333;
	}
	.insta-icon:hover{
		fill: #d8caa5;
	}
	p{
		font-size: 1.1rem;
	}

	h2{
		font-size: 0.8rem;
	}
	.hide-at-small-screen{
		display: inline-block;
	}

}


/* Clearfix */

.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}



